@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    font-family: 'Montserrat', 'serif';
    height: 100vh;
}

.game-text {
    text-align: center;
    font-size: 36px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    padding: 16px;
    background-color: bisque;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: antiquewhite;
    padding: 2rem;
}
